global-include *.pyx
global-include *.pxd 
global-include *.cpp
global-include *.hpp
exclude outliertree/outlier_cpp_interface.cpp
exclude src/RcppExports.cpp
exclude src/Rwrapper.cpp
exclude src/Makevars
include pyproject.toml
include requirements.txt
exclude DESCRIPTION
exclude NAMESPACE
exclude README.md
exclude .Rbuildignore
exclude .gitattributes
global-exclude *.so
global-exclude *.o
global-exclude *.a
global-exclude *.exe
global-exclude *.dll
global-exclude *.dynlib
global-exclude *.html
global-exclude *.Rmd
global-exclude *.Rd
global-exclude *.ipynb
global-exclude *.md
prune gritbot_original
prune man
prune R
prune data
prune docs
prune example
prune autom4te.cache
