useDynLib(outliertree, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("utils", "head")
importFrom("stats", "predict")
importFrom("parallel", "detectCores")
S3method(predict, outliertree)
S3method(print, outlieroutputs)
S3method(print, outliertree)
S3method(summary, outlieroutputs)
S3method(summary, outliertree)
export(outlier.tree)
export(extract.training.outliers)
export(check.outlierness.bounds)
export(unpack.outlier.tree)
